
  #chat-container::-webkit-scrollbar {
    width: 6px;            /* Width of the scrollbar */
  }
  
  #chat-container::-webkit-scrollbar-track {
    background: rgb(31, 41, 55);   /* Scrollbar track */
    border-radius: 10px;
  }
  
  #chat-container::-webkit-scrollbar-thumb {
    background: rgb(150, 150, 150);      /* Scrollbar thumb */
    border-radius: 10px;
  }
  
  #chat-container::-webkit-scrollbar-thumb:hover {
    background:rgb(100, 100, 100)      /* Scrollbar thumb on hover */
  }
  